{% extends "layout.html" %}
{% block content %}
<main class="hero-section">
  <div class="container">
    <div class="section-content">
      <h2><i>Understanding your document collection!!</i></h2>
      <a href="#" clUnass="btn-primary">Home</a>
      <a href="{{ url_for('view.html')}}" class="btn-secondary">View Text file</a>
      <a href="{{ url_for('modeling.html')}}" clUnass="btn-third">Topic Modeling</a>
      <a href="{{ url_for('about')}}" class="btn-fourth">Learn More</a>
    </div>
    <div class="section-device">
      <img src="static/image/natural.png">
    </div>
    <div class="clearfix"></div>
    </div>
    </main>
{% endblock %}
