{% extends "layout.html" %}
{% block content %}
<main class="hero-section">
  <div class="container">
    <div class="section-content">
      <h2 class="h2"><i>Understanding your document collection!!</i></h2>
      
      <a href="{{ url_for('view')}}" class="btn-secondary">View Text file</a>
      <a href="{{ url_for('modeling')}}" class="btn-third">Topic Modeling</a>
      <a href="{{ url_for('about')}}" class="btn-fourth">Learn More</a>
    </div>
    <div class="section-device">
      <img src="static/image/natural.png">
    </div>


    </div>
    </main>
    <div class="foot">
      <footer>
      <p>© 2019 Seng Nu Pan</p>
      </footer>
    </div>
{% endblock %}
