<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="title">Topic modeling</h1>
      <!--<div class="site-header centered">

            <nav id="multi-level-nav" class="menu multi-level-nav">
                <ul>
                    <li><a href="/index.html">Home</a></li>

                </ul>
            </nav>
        </div>-->

    </div>
  </header>

  {% block content %}
  {% endblock %}

</body>
</html>
