<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html lang="en">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/jqcloud.css" />
  <script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = 'static/image/load_me.gif';
        div.innerHTML = "Processing...<br />";
        div.style.cssText = 'position: fixed; top: 40%; left: 36%; z-index: 5000; width: 422px; text-align: center;color:#6e6e6e';
        div.appendChild(img);
        document.body.appendChild(div);
        return true;

    }
</script>



</head>
<body>
  <header>
    <div class="container">
      <h1 class="title">Topic modeling</h1>
      <div class="site-header centered">
            <nav style="float:right;margin-right:0px;">
                <a href="{{ url_for('index')}}" class="btn-primary">Home</a>
            </nav><br>
            <div class="section-content" style="float:right;top:10px;margin-left:160px;">
              <a href="{{ url_for('rawView')}}" class="btn-clean" onclick="ShowLoading()">View raw data</a>
              <a href="{{ url_for('afterClean')}}" class="btn-clean" onclick="ShowLoading()">View Clean data</a>
            </div>
        </div>
    </div>

  </header>

  <main class="container singup-section">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
        <center><p style="color:red;">{{ message }}</p></center>
      {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="/preprocess" method="post" enctype="multipart/form-data" onsubmit="ShowLoading()">
            <p class="h3">Choose PDF file to analyse:</p> <input type="file" name="file" accept=".pdf"/>
                <input type="submit" class="btn-clean" value="Show topic number"/><br><br><br><br>
                <center>

                  <a href="{{ url_for('top_term_weight')}}" class="btn-primary" onclick="ShowLoading()">Visualize with BarGraph</a>
                  <a href="{{ url_for('piechart')}}" class="btn-primary" onclick="ShowLoading()">Visualize with PieChart</a>
                </center>
    </form>



  </main>
