<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="shortcut icon" href="/static/image/favicon_3uY_icon.ico" type="image/x-icon">

  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="title">Topic modeling</h1>

            <nav style="float:right;margin-right:60px;">
                <a href="{{ url_for('modeling')}}" class="btn-primary">Back</a>
            </nav>

    </div>
  </header>
  <center><p>Topic distribution in document </p></center>

  	<div style="float:right;margin-left:20px;">

    <img src="data:image/png;base64,{{piechart}}">

    </div>
</body>
</html>
