<!DOCTYPE>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/jqcloud.css" />


</head>
<body>
  <header>
    <div class="container">
      <h1 class="title">Topic modeling</h1>
      <div class="site-header centered">
            <nav style="float:right;margin-right:60px;">
                <a href="{{ url_for('index')}}" class="btn-primary">Home</a>
            </nav>
        </div>
    </div>
  </header>
<main class="hero-section">


  <div class="container">
    <div class="section-content">
    <h2 class="h1">Too busy to check each <b>PDF</b> file to see what's about?</h2>
    <p class="h3"><i>Here is WordCloud visualization for your text!!</i></p>
    <form method="post" action="/viewText"  enctype="multipart/form-data" id="myForm">
        <h1 fontsize="1px">Choose file...</h1>
        <input type="file" name="document" id="fileinput" accept=".pdf"/><br>
        <input type="submit"  class="btn-primary" value="Visualize" onclick="$('#loading').show();">
      </form>
<div id="loading" class="loading_css" style="display:none;"><img src="static/image/load_me.gif"></div>


</div>
  </div>
  <div class="float-right;margin-right:5px;">
    <img src="data:image/png;base64,{{article}}">


  </div>
</main>


</body>
</html>
