<!DOCTYPE>
<html lang="en">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/image/favicon_3uY_icon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/jqcloud.css" />


</head>
<body>
  <header>
    <div class="container">
      <h1 class="title">Topic modeling</h1>
      <div class="site-header centered">
            <nav style="float:right;margin-right:60px;">
                <a href="{{ url_for('index')}}" class="btn-primary">Home</a>
            </nav>
        </div>
    </div>
  </header>
<main class="hero-section">


  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}

      {% for message in messages %}
        <center><p style="color:red;">{{ message }}</p></center>
      {% endfor %}

      {% endif %}
    {% endwith %}
    <div class="section-content">
    <h2 class="h1">Too busy to check each <b>PDF</b> file to see what's about?</h2>
    <p class="h3"><i>Here is WordCloud visualization for your text!!</i></p>
    <form method="post" action="/viewText" enctype="multipart/form-data" id="myForm">
        <h1 fontsize="1px">Choose <b>pdf</b> file only...</h1><br>
        <input type="file" name="file" accept=".pdf"/><br><br>
        <input type="submit"  class="btn-primary" value="Visualize" onclick="$('#loading').show();">
      </form>
<div id="loading" class="loading_css" style="display:none;"><img src="static/image/load_me.gif" alt=""></div>


</div>
  </div>
  <br>
  <div id="wordcloudresult" class="float-right;margin-right:5px;">
    <img src="data:image/png;base64,{{article}}" style="color:#20B2AA;font-size:22px;" alt="WordCloud will be shown here">


  </div>
</main>


</body>
</html>
